body {
    margin: 0px;
    padding: 0px;
    background-color: indigo;
    color: gold;
    font: normal 1em sans-serif;
}
.container {
    text-align: justify;
    line-height: 2em;
    min-width: 300px;
    max-width: 800px;
    width: 50%;
    margin: 50px auto;
    border: 2px solid gold;
    padding: 20px;
    border-radius: 20px;
}
.resultado {
    width: 90%;
    margin: 20px auto;
    border: 2px solid gold;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}
button {
    background-color: lightblue;
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
    font-size: 1.1em;
    border-style: none;
    outline: none;
    color: black;
    box-shadow: 3px 3px 5px black;
    cursor: pointer;
    margin-left: 10px;
}
button:hover {
    background-color: rgb(108, 134, 143);
}
button:active {
    background-color: rgb(108, 134, 143);
    box-shadow: 1px 1px 3px black;
    transition: 30ms;
    transform: translateY(2px);
    transform: translateX(2px);
}
.baixoOuAlto {
    background-color: black;
    border-radius: 10px;
    width: auto;
}
#palpite {
    margin: 0px 10px;
    width: 40px;
}